* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav {
  background-color: #000000;
  overflow: hidden;
  opacity: 0.75;
 
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 1;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
}

